.App {
    background-attachment: fixed;
    background-position: center;
    background-color: #fafafa;
    min-height: 100vh;
    padding-top: 60px;
}

.navbar {
    background-color: #ef5350!important;
}

.navbar .navbar-link:hover {
    color: black;
}